<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('css/docs.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('css/pds.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('css/rating.css') }}" type="text/css" media="all"/>
    {% endblock %}
    <title>{% block title %}PDS{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ path('homepage')}}">PDS</a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li class="">
                        <a href="{{ path('story')}}">Stories</a>
                    </li>
                    {% if app.user %}
                    <li class="">
                        <a href="{{ path('story_new') }}"><i class="icon-plus icon-white"></i>Add story</a>
                    </li>

                    {% endif %}


                </ul>
                <form class="navbar-search pull-left">
                    <input type="text" class="search-query" placeholder="Search">
                </form>
                <ul class="nav pull-right">
                    {% if app.user %}
                    <li class="">
                        <a href="{{ path('logout')}}">Sign out</a>
                    </li>
                    {% else %}
                    <li class="">
                        <a href="{{ path('signup')}}">Sign up</a>
                    </li>
                    <li class="">
                        <a href="{{ path('login')}}">Sign in</a>
                    </li>
                    {% endif %}
                    <li class="divider-vertical"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    {% if app.session.flash('notice') %}
    <div class="flash-message">
        <em>Notice</em>: {{ app.session.flash('notice') }}
    </div>
    {% endif %}
    {% block content %}
    {% endblock %}
</div>
{% block javascripts %}
<script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
<script src="{{ asset('js/pds.js') }}"></script>
{% endblock %}
</body>
</html>