{% extends 'PDSUserBundle:User:user.html.twig' %}
{% block header %}
Edit profile “{{ entity.username }}”
{% endblock %}
{% block user %}

<form class="offset1 edit" action="{{ path('user_update', { 'id': entity.id }) }}"
      method="post" {{ form_enctype(form) }}>
    {% if form_errors(form) %}
    <div class="span7 alert alert-error">{{ form_errors(form) }}</div>
    {% endif %}
    <div class="row">
        <div class="span5">
            {{ form_errors(form.file) }}
            {{ form_row(form.file) }}
            {{ form_row(form.Country) }}
            {{ form_row(form.city) }}
            {{ form_row(form.institution) }}
        </div>
        <div class="span5">
            {{ form_row(form.first_name) }}
            {{ form_row(form.last_name) }}
            {{ form_row(form.birth) }}
            {% if entity.getRole().name == "ROLE_USER" %}
                    <span class="label label-info {% if not entity.getTellerRequest() %}hide {% endif %}">Request in process</span>
                    <button data-url="{{ path("user_teller_request", {'id': entity.id})}}" class="btn btn-small teller-request {% if entity.getTellerRequest() %}hide {% endif %}"><i class="icon-pencil"></i> Storyteller request</button>
            {% endif %}
        </div>
        <div class="span10">
            {{ form_row(form.biography) }}
        </div>
    </div>
    {{ form_rest(form) }}
    <button class="btn btn-small" type="submit"><i class="icon-ok"></i> Save</button>
    <a href="{{ path('user_show', { 'id': entity.id }) }}">
        Back to profile
    </a>
</form>

{% endblock %}