{% extends 'PDSUserBundle:User:user.html.twig' %}
{% block header %}
    Profile data
{% endblock %}
{% block user %}
<div class="show row">
    <div class="span3">
        <ul class="thumbnails">
            <li>
                <img class="userpic thumbnail" src="{% if user.photo %}{{ asset('userpics/') }}{{ user.photo }}{% else %}http://placehold.it/150&text=Photo{% endif %}" alt="{{ user }}">
            </li>
        </ul>
    </div>
    <div class="span7">
        <ul class="meta">
            <li>
                <span class="mark">{{ user.getRole().name}}:</span><span class="data">{{ user.firstName }} <i>{{ user.username }}</i> {{ user.lastName }}</span>
            </li>
            <li>
                <span class="mark">From:</span><span class="data">{{ user.country.name }} {% if user.city %}({{ user.city }}){% endif %}</span>
            </li>
            {% if user.institution %}
            <li>
                <span class="mark">Graduated:</span><span class="data">{{ user.institution }}</span>
            </li>
            {% endif %}
            {% if user.birth %}
            <li>
                <span class="mark">Born in:</span><span class="data">{{ user.birth | date('Y.m.d')}}</span>
            </li>
            {% endif %}
            <li>
                <span class="mark">Join:</span><span class="data">{{ user.createdAt| date('Y.m.d')}}</span>
            </li>
        </ul>
    </div>

    <div class="span2 pull-right">
    {% if app.user and app.user == user%}
        <a class="btn btn-small" href="{{ path('user_edit',{ 'id': user.id }) }}"><i class="icon-edit"></i> Edit</a>
    {% endif %}
        {#<button class="btn btn-small" type="button"><i class="icon-remove-circle"></i> Disable</button>#}
        {#<button class="btn btn-small" type="button"><i class="icon-ok-circle"></i> Enable</button>#}
    </div>
    <div class="span12">
        <h4>Biography:</h4>
        <div class="biography">{{ user.biography }}</div>
    </div>


</div>
        {% endblock %}