{% extends 'PDSStoryBundle:Story:story.html.twig' %}


{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/ui-lightness/jquery-ui.css"
      type="text/css" media="all"/>
{% endblock%}
{% block javascripts %}
{{parent()}}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ asset('js/libs/jquery.form.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/libs/nicEdit.js') }}"></script>

{% endblock%}

{% form_theme form _self %}

{% block collection_widget %}
{% spaceless %}
{% if prototype is defined %}
{% set attr = attr|merge({'data-prototype': form_story_page(prototype) }) %}
{% endif %}
<ul {{ block('widget_container_attributes') }}>
    {{ form_errors(form) }}
    {% for child in form %}
    {{ form_story_page(child) }}
    {% endfor %}
</ul>
{% endspaceless %}
{% endblock collection_widget %}


{% block header %}
Edit a story
{% endblock %}
{% block story %}

<div class="edit row">
    <div class="modal fade" id="video-upload">
        <form class="form-horizontal" action="{{ path('story_upload_video') }}"
              method="post" {{ form_enctype(formUpload) }}>
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>

                <h3>Upload video to youtube.com</h3>
            </div>
            <div class="modal-body">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="form_title">Title</label>

                        <div class="controls">
                            {{ form_widget(formUpload.title)}}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="form_video">Select video</label>

                        <div class="controls">
                            {{ form_widget(formUpload.video)}}
                        </div>
                    </div>
                </fieldset>
                <div class="progress-help"></div>
                <div class="progress progress-success progress-striped active">
                    <div class="bar" style="width: 0%;"></div>
                </div>
                {{ form_rest(formUpload) }}
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
                <button type="submit" class="btn btn-primary"><i class="icon-upload icon-white"></i> Upload</button>
            </div>
        </form>
    </div>
    <form action="{{ path('story_update', { 'id': story.id }) }}" method="post" {{ form_enctype(form) }}>
        <div class="meta span3">
            <h1 class="title-meta">Information about the story</h1>
            {{ form_row(form.Country)}}
            {{ form_row(form.meta_place)}}
            {{ form_row(form.Time)}}
            {{ form_row(form.meta_time)}}
            {{ form_row(form.Topics)}}
            {{ form_row(form.meta)}}
            {{ form_row(form.meta_storyteller)}}
            {#<button class="btn btn-small add-video" type="button"><i class="icon-upload"></i> Add video</button>#}
            <ul class="videos">
            </ul>
        </div>
        <div class="span9">
            <label for="story_title" class="title required">Title of the story
                <span class="label status-{{ story.status.name|lower }}">{{ story.getStatus().name }}</span> {% if story.status.id == 1 or story.status.id == 4 %}
                <button class="btn btn-small publish-request" type="button" data-url="{{ path('story_publish', { 'id': story.id }) }}">
                    <i class="icon-share-alt"></i> Publish
                </button>
                {% endif %}</label>
            {{ form_widget(form.title)}}
            {{ form_widget(form.Pages)}}

        </div>
        {{ form_rest(form) }}
        <div class="buttons span9 offset3">
            <button class="btn btn-small pull-left add-page"><i class="icon-plus"></i> Page</button>
            <button class="btn pull-right btn-small create-story" type="submit"><i class="icon-pencil"></i> Update
            </button>
        </div>
    </form>
    <form  method="post" action="{{ path('story_delete',{ 'id': story.id }) }}">
                    {{ form_widget(delete_form) }}
                    <input type="submit" class="delete btn btn-danger" value="Delete" />
    </form>
</div>
{% endblock %}