{% extends 'PDSStoryBundle:Story:story.html.twig' %}


{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/ui-lightness/jquery-ui.css"
      type="text/css" media="all"/>
{% endblock%}
{% block javascripts %}
{{parent()}}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ asset('js/libs/nicEdit.js') }}"></script>

{% endblock%}

{% form_theme form _self %}

{% block collection_widget %}
{% spaceless %}
{% if prototype is defined %}
{% set attr = attr|merge({'data-prototype': form_story_page(prototype) }) %}
{% endif %}
<ul {{ block('widget_container_attributes') }}>
    {{ form_errors(form) }}
    {% for child in form %}
    {{ form_story_page(child) }}
    {% endfor %}
</ul>
{% endspaceless %}
{% endblock collection_widget %}


{% block header %}
Create a new story
{% endblock %}
{% block story %}
<div class="edit row">

    <form action="{{ path('story_update', { 'id': story.id }) }}" method="post" {{ form_enctype(form) }}>
        <div class="meta span3">
            <h1 class="title-meta">Information about the story</h1>
            {{ form_row(form.Country)}}
            {{ form_row(form.date)}}
            {{ form_row(form.Topics)}}
            {{ form_row(form.meta)}}
            <button class="btn btn-small add-video" type="button"><i class="icon-upload"></i> Add video</button>
            <ul class="videos">
            </ul>
        </div>
        <div class="span9">
            <label for="story_title" class="title required">Title of the story</label>
            {{ form_widget(form.title)}}
            {{ form_widget(form.Pages)}}

        </div>
        {{ form_rest(form) }}
        <div class="buttons span9 offset3">
            <button class="btn btn-small pull-left add-page"><i class="icon-plus"></i> Page</button>
            <button class="btn pull-right btn-small create-story" type="submit"><i class="icon-pencil"></i> Update
            </button>
        </div>
    </form>

</div>
{% endblock %}