{% extends '::base.html.twig' %}
{% block content %}
<div class="story">
    <div class="main row">
        <div class="span4 box-container">
            <div class="box-header">
                Location
            </div>
            <div class="box-body tags-cloud">
                {% for location in locations %}
                <a href="{{ path('story_location', { 'id': location.getId() }) }}"
                   class="size{{ location.weight }}">{{ location }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="span4 box-container">
            <div class="box-header">
                Time
            </div>
            <div class="box-body tags-cloud">
                {% for time in times %}
                <a href="{{ path('story_time', { 'id': time.getId() }) }}"
                   class="size{{ time.weight }}">{{ time }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="span4 box-container">
            <div class="box-header">
                Top
            </div>
            <div class="box-body tags-cloud">
                {% include 'PDSStoryBundle:Story:short_list.html.twig' with {'stories': stories} %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span4 box-container">
            <div class="box-header">
                Topic
            </div>
            <div class="box-body tags-cloud">
                {% for topic in topics%}
                <a href="{{ path('story_topic', { 'id': topic.getId() }) }}"
                   class="size{{ topic.weight }}">{{ topic}}</a>
                {% endfor %}
            </div>
        </div>

        <div class="span4 box-container">
            <div class="box-header">
                Person
            </div>
            <div class="box-body tags-cloud">
                {% for teller in tellers%}
                <a href="{{ path('story_teller', { 'id': teller.getId() }) }}"
                   class="size{{ teller.weight }}">{{ teller }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="span4 box-container">
            <div class="box-header">
                Preview
            </div>
            <div class="box-body tags-cloud">
                <div class="projector">
                    <div id="myCarousel" class="carousel">
                        <div class="carousel-inner">
                            {% for img in images %}
                            <div class="item">
                                <a href="{{ path('story_show', { 'id': img.story.id }) }}#page{{img.page.lineno}}">{{ img.img | raw }}</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}