{% extends 'PDSStoryBundle:Story:story.html.twig' %}
{% block story %}
<div class="well row">
    <h1>All stories</h1>

    {% for story in entities %}
    <div class="row">
        <h3 class="span12"><a href="{{ path('story_show', { 'id': story.id }) }}">{{ story.getTitle() }}</a> <span
                class="label label-success">New</span></h3>

        <div class="span9">
            <pre>{{ story.getBody() }}
        </pre>
        </div>
        <ul class="span2 nav nav-list">
            <li>
                <i class="icon-star"></i>{{ story.getRating }}
            </li>
            <li>
                <i class="icon-comment"></i>{{ story.getComments().count() }}
            </li>
            <li>
                <i class="icon-time"></i>{% if story.createdat %}{{ story.createdat|date('Y.m.d') }}{% endif%}
            </li>
            <li>
                <a><i class="icon-pencil"></i>{{ story.getUser().getUsername() }}</a>
            </li>
            {% if app.user %}
            {% if app.user == story.getUser() %}
            <li>
                <a href="{{ path('story_edit', { 'id': story.id }) }}"><i class="icon-edit"></i>Edit</a>
            </li>
            {% endif %}
            {% endif %}
        </ul>
    </div>
    {% endfor %}
</div>
        {% endblock %}