{% for story in stories %}
<div class="row">
    <h3 class=""><a href="{{ path('story_show', { 'id': story.id }) }}">{{ story.getTitle() }}</a></h3>
    <span class="label label-success">New</span>

    <div class="meta">
        <ul class="nav nav-list">
            <li>
                <i class="icon-star"></i>{{ story.getRating }}
            </li>
            <li>
                <a href="{{ path('story_teller', { 'id': story.getUser().getId() }) }}"><i class="icon-pencil"></i>{{ story.getUser() }}</a>
            </li>
            <li>
            </li>
        </ul>
    </div>
</div>
        {% endfor %}