{% extends 'PDSStoryBundle:Story:story.html.twig' %}
{% block story %}
<div class="show row">
    <h1>{{ story.getTitle() }}</h1>

    <div class="projector">
        <div id="myCarousel" class="carousel">
            <!-- Carousel items -->
            <div class="carousel-inner">
                {{ story.body | raw }}
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>

    </div>
    <div class="meta row offset1">

        <ul class="info offset2 span7">
            <li>
                <i class="ajax-loader"></i>
                <i class="icon-star"></i>
                {% if app.user and story.canVote(app.user) %}
                <ul class='star-rating'>
                    <li><a href='#' title='Rate this 1 star out of 5' class='one-star'>1</a></li>
                    <li><a href='#' title='Rate this 2 stars out of 5' class='two-stars'>2</a></li>
                    <li><a href='#' title='Rate this 3 stars out of 5' class='three-stars'>3</a></li>
                    <li><a href='#' title='Rate this 4 stars out of 5' class='four-stars'>4</a></li>
                    <li><a href='#' title='Rate this 5 stars out of 5' class='five-stars'>5</a></li>
                </ul>
                <form id="form_vote" class="hidden" action="{{ path('vote_create') }}" method="post">
                    {{ form_rest(form_vote) }}
                </form>
                {% endif %}
            </li>
            <li class="rating-value">
                {{ story.getRating }}
            </li>
            <li>
                <i class="icon-time"></i>{% if story.createdat %}{{ story.createdat|date('Y.m.d') }}{% endif%}
            </li>
            <li>
                <a href="{{ path('user_show', { 'id': story.getUser().getId() }) }}"><i class="icon-pencil"></i>{{ story.getUser() }}</a>
            </li>
            {% if app.user %}
            {% if app.user == story.getUser() %}
            <li>
                <a href="{{ path('story_edit', { 'id': story.id }) }}"><i class="icon-edit"></i>Edit</a>
            </li>
            {% endif %}
            {% endif %}
        </ul>

        <ul class="tags span10">
            <li>
                <i class="icon-tags"></i>
                <a href="{{ path('story_location', { 'id': story.getCountry().getId() }) }}">{{ story.getCountry() }}</a>
            </li>
            <li>
                <a href="{{ path('story_time', { 'id': story.getTime().getId() }) }}">{{ story.getTime()}}</a>
            </li>
            {% for topic in story.getTopics() %}
            <li>
                <a>{{ topic }}</a>
            </li>
            <li>
                <a>{{ topic }}</a>
            </li>
            <li>
                <a>{{ topic }}</a>
            </li>
            <li>
                <a>{{ topic }}</a>
            </li>
            <li>
                <a>{{ topic }}</a>
            </li>
            <li>
                <a>{{ topic }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div id="comments" class="row">
    <span class="span10 offset1"><i class="icon-comment"></i>Comments:</span>
    {% for comment in story.getComments() %}
    {% include 'PDSStoryBundle:Comment:show.html.twig' with {'comment': comment} %}
    {% endfor %}
    <form id="form_comment" class="span10 offset1" action="{{ path('comment_create') }}" method="post">
        <div class="form-actions">
            {{ form_widget(form_comment.message) }}
            {{ form_rest(form_comment) }}
            <div>
                <button class="btn btn-small" type="submit"><i class="icon-comment"></i>Add</button>
                <i class="ajax-loader"></i>
            </div>
        </div>
    </form>
</div>

        {% endblock %}