{% extends 'PDSStoryBundle:Story:story.html.twig' %}
{% block header %}
{{ story.getTitle() }}
{% endblock %}

{% block story %}
<div class="show">
    <div class="projector">
        <div id="myCarousel" class="carousel">
            <!-- Carousel items -->
            <div class="carousel-inner">
                {% for page in story.getPages() %}
                    <div class="item">
                    {{ page.body | raw }}
                    </div>
                {% endfor %}
                <div class="item">
                    <h3>Related stories:</h3>
                    {% include 'PDSStoryBundle:Story:short_list.html.twig' with {'stories': related} %}
                </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>
    <div class="meta row offset1">

        <ul class="info offset2 span7">
            <li>
                <i class="ajax-loader"></i>
                <i class="icon-star"></i>
                {% if not app.session.get('voted_'+story.id, 0) %}
                <ul class='star-rating'>
                    <li><a href='#' title='Rate this 1 star out of 5' class='one-star'>1</a></li>
                    <li><a href='#' title='Rate this 2 stars out of 5' class='two-stars'>2</a></li>
                    <li><a href='#' title='Rate this 3 stars out of 5' class='three-stars'>3</a></li>
                    <li><a href='#' title='Rate this 4 stars out of 5' class='four-stars'>4</a></li>
                    <li><a href='#' title='Rate this 5 stars out of 5' class='five-stars'>5</a></li>
                </ul>
                <form id="form_vote" class="hidden" action="{{ path('vote_create') }}" method="post">
                    {{ form_rest(form_vote) }}
                </form>
                {% endif %}
            </li>
            <li class="rating-value">
                {{ story.getRating }}
            </li>
            <li>
                <i class="icon-time"></i>{% if story.createdat %}{{ story.createdat|date('Y.m.d') }}{% endif%}
            </li>
            <li>
                <a href="{{ path('user_show', { 'id': story.getUser().getId() }) }}"><i class="icon-pencil"></i>{{ story.getUser() }}</a>
            </li>
            {% if app.user %}
            {% if app.user == story.getUser() %}
            <li>
                <a href="{{ path('story_edit', { 'id': story.id }) }}"><i class="icon-edit"></i>Edit</a>
            </li>
            {% endif %}
            {% endif %}
        </ul>

        <ul class="tags span10">
            <li>
                <i class="icon-tags"></i>
                <a href="{{ path('story_location', { 'id': story.getCountry().getId() }) }}">{{ story.getCountry() }}</a>
            </li>
            <li>
                <a href="{{ path('story_time', { 'id': story.getTime().getId() }) }}">{{ story.getTime()}}</a>
            </li>
            {% for topic in story.getTags() %}
            <li>
                <a href="{{ path('story_topic', { 'id': topic.getId() }) }}">{{ topic.getName() }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}